#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-color > p {
  padding: 0;
  margin: 0;
}

.button-country {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-country > p {
  margin: 0;
}

.button-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-reset > p {
  padding: 0;
  margin: 0;
}

.button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-delete > p {
  margin: 0;
}

@media screen and (width > 700px) {
  .header {
    flex-direction: row;
    justify-content: center;
  }
}
